/* Suite de User.module.css */
.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .mainNavLink {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .mainNavItem {
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .mainNavItemHover:hover {
    text-decoration: underline;
  }
  
  .mainNavLogo {
    display: flex;
    align-items: center;
  }
  
  .mainNavLogoImage {
    max-width: 100%;
    width: 200px;
  }
  
  /* ... autres styles ... */
  
  .editButton {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  
  .header {
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .transactionButton {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  
  /* Media queries */
  @media (min-width: 720px) {
    .account {
      flex-direction: row;
    }
  
    .accountContentWrapperCta {
      flex: 0;
    }
  
    .transactionButton {
      width: 200px;
    }
  }
  
  /* ... Assurez-vous d'inclure tous les autres styles nécessaires ... */
  